.photoRow {
    margin-top: 15px;
}

.photosListCard {
    width: 18rem;
    margin-bottom: 5rem;
}

.smallPoster {
    user-select:none;
}

.heart {
    width: 28.5em;
    height: 4em;
    filter: drop-shadow(2px 4px 6px black);
}

.heartFill {
    fill: red;
}

.heartEmpty {
    fill: white;
}

.likeCounts {
    color: red;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.reviewLink {
    position: relative;
  }