.display {
    width: 50%;
    height: auto;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.descriptionTitle {
    margin-top: 1em;
    text-align: center;
    font-size: 50px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

.desContainer {
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.desText {
    margin: 50px auto 50px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.copyrightContainer {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 20px;
}

.foot {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}